@import url(https://fonts.googleapis.com/css?family=Cute+Font|Jua|Dokdo|Nanum+Pen+Script|Nanum+Gothic);

h1 {
  font-family: 'Jua', sans-serif;
}

h2, h3 {
  font-family: 'Cute Font',  cursive;
}

p {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 17px;
}